/* Taner Albayrak
Taner_albayrak@student.uml.edu
12/9/15
GUI I Assignment 9: Scrabble game
*/

.heading {
  text-align: center;
  color: red;
}

.tile {
height: 100px;
width: 100px;
margin-left: 10px;
}

#board {
  width: 1000px;
  height: 350px;
  margin-left: 10px;
  margin-top: 20px;
}
