/* Taner Albayrak
Taner_albayrak@student.uml.edu
12/9/15
GUI I Assignment 9: Scrabble game
*/

body {
  background-color: #80bfff;
}
h2 {
  text-align: center;
  color: red;
  text-shadow: 2px 2px #80bfff;
  font-size: 100px;
}

.tile {
height: 100px;
width: 90px;
margin-left: 10px;
}

#board {
  width: 1000px;
  height: 350px;
  margin-left: 100px;
  margin-top: 100px;
}
